<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.mapper.RoleMapper">

    <resultMap id="baseMap" type="com.github.entity.Role">
        <result column="record_id" property="recordId"></result>
        <result column="name" property="name"></result>
        <result column="code" property="code"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>
    <sql id="columns">
        record_id,`name`,code,create_time
    </sql>

    <insert id="insert">
        insert into `role`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId != null">
                record_id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="code != null">
                `code`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">
                #{recordId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code}
            </if>
        </trim>
    </insert>
    <update id="update">
        UPDATE `user`
        <set>
            <if test="name !=null">
                `name` = #{name},
            </if>
            <if test="@org.springframework.util.StringUtils.hasText(code)">
                code = #{code}
            </if>
        </set>
        where record_id = #{recordId}
    </update>


    <select id="findByRecordId" resultMap="baseMap">
        select
        <include refid="columns"/>
        from `role`
        where record_id = #{recordId}
    </select>
    <select id="findByCode" resultMap="baseMap">
        select
        <include refid="columns"/>
        from `role`
        where code = #{code}
    </select>

</mapper>